* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    background-color: hsl(233, 47%, 7%);
}

.container{
    width: 270px;
    margin: 40px auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    overflow: hidden;
}

.img{
    height: 198px;
    background-image: linear-gradient(rgba(170, 92, 219, 0.7),rgba(170, 92, 219, 0.7)), url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.text{
    padding: 25px;
}

.text h2{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 50px;
}

#insights {
    color: hsl(277, 64%, 61%);
}

.text p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 50px;
}

.bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
}

.col{
    font-weight: 700;
    color:hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.footer{
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
}


@media screen and (min-width:1000px){
    body{
        font-size: 20px;
        text-align: left;
    }
    .container{
        width:1300px;
        border-radius: 1rem;
        height: 520px;
        position: relative;
    }
    .text{
        position: absolute;
        left: 0;
        width: 419px;
        height: 100%;
        padding: 40px;
        margin-left: 20px;
        
    }

    .text p{
        margin-bottom: 60px;
    }
    .bottom{
        flex-direction: row;
    }
    .img{
        position: absolute;
        right: 0;
        height: 100%;
        width: 707px;
    }
}